<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>

  <body
    style='display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;'
  >
    <header
      style='font-size: 30px;
			font-weight: bold;
			border-bottom: 0.10px solid #eeeeee;
			display: flex;
			justify-content: center;
			width: 80vw;
			padding: 10px;
			box-sizing: border-box;'
    >
      <div>[와리가리] 회원 인증</div>
    </header>
    <main
      style='
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			flex-direction: column;
			width: 70vw;
			box-sizing: border-box;'
    >
      <div>[와리가리] 서비스에 인증되었습니다. 이제 로그인하여 서비스를 이용할 수 있습니다.</div>
    </main>
    <footer
      style='
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.50px;
			font-weight: bold;
			width: 80vw;
			background-color: #eeeeee;
			height: 40px;'
    >(주)Dumchiit</footer>
  </body>

</html>